# Copyright (c) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under Apache License Version 2.0

name: Enforce clang-format

on:
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * 5'  # Every Friday at 3am
  workflow_dispatch:

# Minimum permissions for security
permissions:
  contents: read

jobs:
  clang-format:
    name: Enforce clang-format
    runs-on: ubuntu-22.04
    env:
      CLANG_MAJOR_VERSION: 17
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Add Clang/LLVM repositories
        run: |-
          set -x
          source /etc/os-release
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}-${CLANG_MAJOR_VERSION} main"

      - name: Install clang-format
        run: |-
          set -x
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends -V \
              clang-format-${CLANG_MAJOR_VERSION}

      - name: Enforce clang-format
        run: |-
          set -x
          clang-format-${CLANG_MAJOR_VERSION} --version
          clang-format-${CLANG_MAJOR_VERSION} -i *.c
          git diff --exit-code  # i.e. reject non-empty diff
